<div class="row">
	<div class="large-12 columns">
		<p>
			This app is for group use. You can do the ff:
		</p>

		<ul>
			<li>Create projects</li>
			<li>Add tasks to a project</li>
			<li>Add members to a project</li>
			<li>And many more!</li>
		</ul>
	</div>
</div>