<div class="row">
	<div class="large-12 columns">
		<h3> <%= @project.name %> </h3>
	</div>
</div>

<div class="row">
	<div class="large-9 columns">
		Post what you are doing here...
	</div>

	<div class="large-3 columns">
		List of members
	</div>
</div>